.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    /* width: 700px; */
  }
  
  .alarm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .alarmSeparat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .alarm_Button {
      margin: 35px;
  }
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }